<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Help Center - Cosmetics Website</title>
    <link rel="stylesheet" type="text/css" href="/css/help_page.css">
    <link rel="stylesheet" href="/css/footer.css" />
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
<script src="https://kit.fontawesome.com/e0412faf90.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <header>
      <div class="container">
        <h1>Nykaa Website Help Center</h1>
        <nav>
          <ul>
            <li><a href="../index.html">Home</a></li>
            <li><a href="./product.html">Products</a></li>
            <li><a href="#">Contact Us</a></li>
            <li class="active"><a href="#">Help Center</a></li>
          </ul>
        </nav>
      </div>
    </header>
  
    <main>
        <section class="search">
            <h2>How can we help you?</h2>
            <form style="background-color: rgb(247, 225, 248);">
                <input type="text" placeholder="Search for answers...">
                <button type="submit">Search</button>
            </form>
        </section>
        <section class="categories">
            <h2>Browse Categories</h2>
            <div style="margin-left:300px ;" class="category" id="order-related">
                <h3>Order Related</h3>
                <ul>
                    <li><a href="#">Order Status</a></li>
                    <li><a href="#">Cancellation & Refund</a></li>
                    <li><a href="#">Return & Refund</a></li>
                    <li><a href="#">International Shipping</a></li>
                    <li><a href="#">Global Store</a></li>
                    <li><a href="#">Our Policies</a></li>
                    
                </ul>
            </div>
            <div style="margin-left: 200px;" class="category">
                <h3>Shopping Related</h3>
                <ul>
                    <li><a href="#">Order Placement</a></li>
                    <li><a href="#">Subscription</a></li>
                    <li><a href="#">Gift Wrap</a></li>
                    <li><a href="#">Shipping & Delivery Policies</a></li>
                    <li><a href="#">Global Store</a></li>
                    <li><a href="#">Authenticity</a></li>
                    
                </ul>
              
            </div>
            <div style="margin-left: 200px;" class="category">
                <h3>Payment Related</h3>
                <ul>
                    <li><a href="#">Cash On Delivery</a></li>
                    <li><a href="#">wallet</a></li>
                    <li><a href="#">EMI</a></li>
                    <li><a href="#">UPI</a></li>
                    <li><a href="#">Debit Card</a></li>
                    <li><a href="#">Credit Card</a></li>
                    
                </ul>
              
            </div>
            
        </section>
    <main>
        <section class="faq">
            <h2>Frequently Asked Questions</h2>
            <div class="question">
                <h3>How can I track my order?</h3>
                <p>You can track your order by logging into your account and checking the order status in the "My Orders" section.</p>
            </div>
            
        </section>
        
        <section>
          <h2>Contact Us</h2>
          <form style=" width: 600px; margin-left: 400px; background-color: rgb(247, 225, 248);">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name"><br>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email"><br>
            <label for="message">Message:</label>
            <textarea id="message" name="message"></textarea><br>
            <button type="submit">Send</button>
          </form>
        </section>
      </div>
    </main>
    
    <footer>
      <div class="container">
        <p>&copy; 2023 Cosmetics Website. All rights reserved.</p>

      </div>

    </footer>
    <footer class="footer">
      <div class="container">
          <div class="row">
              <div class="footer-col">
                  <h4>Company Name</h4>
                  <ul>
                      <li><a href="#">Who are we?</a></li>
                      <li><a href="#">Careers</a></li>
                      <li><a href="#">Authenticity</a></li>
                      <li><a href="#">Press</a></li>
                      <li><a href="#">Testimonials</a></li>
                      <li><a href="#">company name CSR</a></li>
                      <li><a href="#">Responsible Disclosure</a></li>
                      <li><a href="#">Investor Relations</a></li>
                  </ul>
              </div>
              <div class="footer-col">
                  <h4>Get help</h4>
                  <ul>
                      <li><a href="#">Contact Us</a></li>
                      <li><a href="#">Frequently asked questions</a></li>
                      <li><a href="#">Store Locator</a></li>
                      <li><a href="#">Cancellation & Return</a></li>
                      <li><a href="#">Shipping & Delivery</a></li>
                      <li><a href="#">Sell on company name</a></li>
                  </ul>
              </div>
              <div class="footer-col">
                  <h4>Inspire me</h4>
                  <ul>
                      <li><a href="#">Beauty Book</a></li>
                      <li><a href="#">Nykaa TV</a></li>
                      <li><a href="#">Nykaa Network</a></li>
                      <li><a href="#">Buying Guides</a></li>
                  </ul>
              </div>
              <div class="footer-col">
                  <h4>Quick Links</h4>
                  <ul>
                      <li><a href="#">Offer Zone</a></li>
                      <li><a href="#">New Launches</a></li>
                      <li><a href="#">Nykaa Fashion</a></li>
                      <li><a href="#">Nykaa Pro</a></li>
                  </ul>
              </div>
              <div class="footer-col">
                  <h4>Top Categories</h4>
                  <ul>
                      <li><a href="#">Makeup</a></li>
                      <li><a href="#">Skin</a></li>
                      <li><a href="#">Hair</a></li>
                      <li><a href="#">Bath & Body</a></li>
                      <li><a href="#">Appliances</a></li>
                      <li><a href="#">Mom and Baby</a></li>
                      <li><a href="#">Wellness</a></li>
                      <li><a href="#">Fragrance</a></li>
                      <li><a href="#">Natural</a></li>
                      <li><a href="#">Luxe</a></li>
                  </ul>
              </div>
          </div>
      </div>
  </footer>
  <footer class="footer2">
   <div class="container2">
       <div class="row2">	
           <div class="footer2-col">
               <i class="fa-solid fa-truck-fast"></i>
               <h4>FREE SHIPPING</h4>
               <ul>
                   <li>On Orders Above ₹299</li>
               </ul>
           </div>
           <div class="footer2-col">
               <i class="fa-solid fa-right-left"></i>
               <h4>EASY RETURNS</h4>
               <ul>
                   <li>15-Day Return Policy</li>
               </ul>
           </div>
           <div class="footer2-col">
               <i class="fa-solid fa-certificate"></i>
               <h4>100% AUTHENTIC</h4>
               <ul>
                   <li>Products Sourced Directly</li>
               </ul>
           </div>
           <div class="footer2-col">
               <i class="fa-solid fa-tag"></i>
               <h4>1900+ BRANDS</h4>
               <ul>
                   <li>1.2 Lakh+ Products</li>
               </ul>
           </div>
           <div class="footer2-col">
               <i class="fa-solid fa-user"></i>
              <h4>follow us</h4>
              <div class="social-links">
                  <a href="#"><i class="fab fa-facebook-f"></i></a>
                  <a href="#"><i class="fab fa-twitter"></i></a>
                  <a href="#"><i class="fab fa-instagram"></i></a>
                  <a href="#"><i class="fab fa-linkedin-in"></i></a>
                  <a href="#"><i class="fab fa-youtube"></i></a>
                  <a href="#"><i class="fab fa-pinterest"></i></a>
               </div>
           </div>
       </div>
 </footer>
 <footer class="footer3">
   <div class="container3">
       <div class="row3">	
           <div class="footer3-col">
               <ul>
                   <li><a href="#">Terms & Conditions</a></li>
               </ul>
           </div>
           <div class="footer3-col">
               <ul>
                   <li><a href="#">Shipping Policy</a></li>
               </ul>
           </div>
           <div class="footer3-col">
               <ul>
                   <li><a href="#">Cancellation Policy</a></li>
               </ul>
           </div>
           <div class="footer3-col">
               <ul>
                   <li><a href="#">Privacy Policy</a></li>
               </ul>
           </div>
       </div>
 </footer>
  </body>
</html>
